<div class='container'>
  <h2>About the Artist</h2>

  <div class='col-lg-8 well'>
    <p>For over twenty-five years I have casually worked with stained glass creating sun catchers, panels, kaleidoscopes and other basic items but I could not find satisfaction in my work.   During that time I worked at a professional career in banking and while I did well professionally I began to feel that the artist in me needed to find something more satisfying.  One day while visiting the store where I purchase my glass supplies I noticed the addition to the warehouse of a large kiln and a conversation quickly began about glass fussing and I immediately knew it was something that I had to do and from that point on, I  looked at glass in a totally different way.  It was not too long before I began fusing glass in a small kiln making jewelry and other small pieces.  My love of glass was quickly growing and I realized that there are endless possibilities of what could be created from glass and before I knew it I was purchasing a larger kiln!</p>

    <p>Soon after the purchase of my kiln and after twenty-eight years of employment with the same bank I found my professional career over due to mergers and downsizing and while it has been stressful and sad I look to the positive and allow my passion for glass to grow and begin the next chapters of my life. My glass projects have been growing from the small pieces of jewelry that I first created to larger dishes, candle holders, cheese trays and more. As the size of my projects grow so has my passion for glass and the endless possibilities of what can be created!</p>

    <p>Each creation from glass is handmade and unique and no two pieces will ever look exactly alike, however if you have a specific piece or color in mind for a bowl, plate, or piece of jewelry please let me know and I will do my best to create your vision.</p>
  </div>

</div>
