<div class='container'>
  <h2>Welcome, <%=@user.name%>!</h2>
  <a class='btn btn-primary' href='/gallery/new'><span class='glyphicon glyphicon-plus'></span> Add Gallery Item</a>
  <%= link_to 'View/Edit Gallery Items', products_path, class: 'btn btn-primary' %>
  <br/><br/>
  <a class='btn btn-primary' href='/gallery_category/new'><span class='glyphicon glyphicon-plus'></span> Add Gallery Category</a>
  <%= link_to 'View/Edit Categories', gallery_category_index_path, class: 'btn btn-primary' %>
  <br/><br/>
  <%= link_to 'Log out', logout_path, method: 'delete', class: 'btn btn-danger' %>
</div>
