/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 10px;
  background-image: image_url('Background-Color-5.gif');
}

.main-well {
  background: rgb(212, 209, 255);
  background: rgba(212, 209, 255, 0.5);

}

.navbar-nav.navbar-right:last-child {
  margin-right: 20px;
}

.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  background: rgb(230, 240, 100);
  background: rgba(230, 240, 100, 0.6);
}

.footer a {
  text-decoration: none;
  color: inherit;
}
